#---------------------------------------------------------------------
# GitHub Actions to Protect CI/CD Pipelines
#
# Version      Date        Info
# 1.0          2019        Initial Version
#
# Made by Felipe Costa
#---------------------------------------------------------------------

name: Protect CI/CD Pipelines
env:
  AWS_REGION_NAME: "us-east-1"

on: 
  push:
    branches: 
      - master
  pull_request:
    branches:
      - master

jobs:
    Git Checkout:
       runs-on: ubuntu-latest
       steps:
         
         - name: Git clone our repository
           uses: actions/checkout@v2
    
    Source Code Test:
       runs-on: ubuntu-latest
       needs: [Git Checkout]
       steps:     
         - name: Source Code Test
           run: echo Source Code Test
           
    Docker Build:
       runs-on: ubuntu-latest
       needs: [Source Code Test]
       steps:
         - name: Container Build
           run : docker build -t web-app:latest .
    
    AWS ECR Push:
       runs-on: ubuntu-latest
       needs: [Docker Build]
       steps: 
         - name: Configure my AWS Credentils
           uses: aws-actions/configure-aws-credentials@v1
           with:
             aws-access-key-id: ${{ secrets.AWS_ACCESS_ID }}
             aws-secret-access-key: ${{ secrets.AWS_SECRET }}
             aws-region           : ${{ env.AWS_REGION_NAME }}
         
         - name: Login to ECR
           run: $(aws ecr get-login --no-include-email --region ${{ env.AWS_REGION_NAME }})
         
         - name: Tag Docker Image
           run: docker tag web-app:latest ${{ secrets.ECR_LOGIN }}/web-app
           
         - name: Push Docker Image to ECR
           run: docker push ${{ secrets.ECR_LOGIN }}/web-app
        
    Container Image Scan:
       runs-on: ubuntu-latest
       needs: [AWS ECR Push]
       steps:
         - name: Cloud One Container Image Scan
           run: echo Cloud One Container Image Scan
         
         - name: Print nice message on completion of CI Pipeline
           run : echo "CI Pipeline part finished successfully"
           
    Dev Tests:
       runs-on: ubuntu-latest
       needs: [Container Image Scan]
       steps:
         - name: Configure my AWS Credentils
           uses: aws-actions/configure-aws-credentials@v1
           with:
             aws-access-key-id: ${{ secrets.AWS_ACCESS_ID }}
             aws-secret-access-key: ${{ secrets.AWS_SECRET }}
             aws-region           : ${{ env.AWS_REGION_NAME }}
         
         - name: Dev Tests
           run: echo Dev Tests
      
         - name: Unit Tests
           run: echo Unit Tests
           
         - name: Print nice message on completion of CD Pipeline
           run : echo "Dev Tests part finished successfully" 
 
           
    Template Scan:
       runs-on: ubuntu-latest
       needs: [Dev Tests]
       strategy:
        matrix:
         node-version: [12.x]
       steps:
         - name: Git Checkout
         - uses: actions/checkout@v2
         
         - name: Use Node.js ${{ matrix.node-version }}
           uses: actions/setup-node@v1
           with:
            node-version: ${{ matrix.node-version }}
         
         - name: Install node
         - run: npm install
           
         - name: Configure my AWS Credentils
           uses: aws-actions/configure-aws-credentials@v1
           
         - name: AWS CF Deploy Tests
           run:  aws cloudformation validate-template --template-body file://cfn.yml
      
         - name: Conformity CF Deploy Tests
           run: echo Conformity CF Deploy Test
    Deploy:
       runs-on: ubuntu-latest
       needs: [Template Scan]
       steps:
        - name: Deploy to Fargate
          run: echo Deploy to Fargate
    
    Slack Notification:
       runs-on: ubuntu-latest
       needs: [Deploy]
       steps:
 
       - name: Slack Notification
         run: echo Slack Notification 
